<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/about.css">
</head>
<body>
    <div class="a">
        <div class="main">
            <video autoplay loop muted plays-inline class="back">
                <source src="/static/mixkit-empty-restaurant-with-nice-lighting-29050-large.mp4" type="video/mp4">
            </video>
            <div class="main1">
                <div class="main2" style="width: 340px;"><img src="/static/1711808621657.png" height="20px" width="20px"> <font style="font-size: 15px; font-style: italic;color: white; ">Blissful Bites,Rajpur Road<br><font style="margin-left: 26px;">Dehradun,UKD,248001</font></font></div>
                <div class="main2"> <img src="/static/1711810050678.png" height="20px" width="20px" style="margin-left: 10px;"> <font style="font-size: 15px; font-style: italic;color: white;">  Daily : 8:00 am to 12:00 pm</font></div>
                <div class="main2"><img src="/static/1711808621662.png" width="20px" height="20px" style="margin-left: 40px;"> <font style="font-size: 15px; font-style: italic;color: white; ">62848-56987 </font>
                    <img src="/static/1711810050673.png" height="20px" width="20px" style="margin-left: 20px;">
                    <img src="/static/1711808621647.png" width="20px" height="20px" style="margin-left: 20px;"> <font style="font-size: 15px; font-style: italic;color: white; "> greatfood154@gmail.com</font> 
            </div>
            </div>
            <div class="main3">
                <div class="main4" style="width: 300px;"><img src="/static/1711785805859.png" height="80px" width="80px" style="border-radius: 50%; margin-left: 40px; border: 1px solid black;"><br> <font style="margin-top: 0px;color:white;font-style: italic;"> A little bliss in every bite</font></div>
                <div class="main4" style="width: 993px;backdrop-filter: blur(70px);margin-left: 150px;">
                      <ul class="nv" >
              <li class="nav"><a class="link" href="/" > Home </a></li>
              <li class="nav"> <a class="link" href="/menu/" > Menu </a></li>
              <li class="nav"> <a class="link" href="/about/"style="color: goldenrod; font-weight: 900;"> About Us<br><div class="b"></div> </a></li>
              <li class="nav"> <a class="link" href="/chefs/" style="margin-left: 10px;"> Our Chefs </a></li>
              <li class="nav"> <a class="link" href="/contact/"> Contact </a></li>  
            </ul>
                </div>
               <div class="main4" style="width: 300px;">
                <button class="dox"><a class="dox1" href="#"> Find a Table</a></button>
               </div>
            </div>
            <div class="mode"><p style="font-size: 20px; text-transform: uppercase;color: white;text-align: center;font-weight: bolder;margin-top: 20px;"> Our Story</p></div>
            <div class="mode" style="margin-top: 0px;"><img src="/static/1711814202764.png" height="100px" width="100px" style="margin-left: 300px;"></div>
            <div class="mode1">
                <div class="mode2" style="width: 600px;">
                    <p style="margin-left: 80px;font-family: italic; color: white; font-size: 60px;text-shadow: 2px 3px 2px red;">Every Flavour <br><font style="margin-left: 15px;">Tells a Story</font></p><br> <br>
                    <p style="color: goldenrod; font-size: 22px; margin-left:40px;font-weight: bolder;"> In the heart of bustling city, amidst the clang <br> of pots and pans and the sizzle of spices,
                  there<br>stood a humble yet extraordinary kitchen, It<br>belonged to Chef Vineet Bhatia, a culinary genius with a secret unlike 
                  any other- he could travel through time with the power of his recipes.<br>
                                                        
                   
                </div>
                <div class="mode2" style="width: 800px;">
                    <img src="/static/1712031657340.jpg" height="220px" width="220px" style="border-radius: 50%;" >
                    <img src="/static/1712039829278.jpg" height="220px" width="220px" style="border-radius: 50%;">
                    <img src="/static/1712039829260.jpg" height="220px" width="220px" style="margin-left: 130px;border-radius: 50%;">
                    <img src="/static/1712039829269.jpg" height="220px" width="220px"style="border-radius: 50%;">
                </div>
            </div>
        </div>
    </div>
    <!-- 2nd part -->
  <div class="item">
    <div class="mean">
        <div class="smile">
            <div class="smile1" style="width: 100px;">
                <img src="/static/1712032609600.jpg" height="100px" width="100px" style="border-radius: 50%;">
            </div>
            <div class="smile1" style="width: 700px;">
                <p style="font-size: 60px; color: white;text-shadow: 2px 3px 2px red;text-align: center; text-decoration: underline rgba(0, 0, 255, 0.368);"> Happy Customers</p>
            </div>
            <div class="smile1" style="width: 200px;">
                <img src="/static/1712032609600.jpg" height="100px" width="100px" style="border-radius: 50%;">
            </div>
       </div><br><br>
       <div class="smile1">
        <p style="color: goldenrod; font-size: 60px; font-weight: bolder;text-shadow: 2px 3px 2px red; font-style: italic;"> Review :~</p></div>
        <div class="review">
            <div class="review1">
              <div class="hello">
                <br>
                <div class="hello1" style="height: 80px; margin-left: 40px;">
                <p style="font-size: 18px; color: white;font-weight: bolder;">I was completely impressed with their food and customer service.The experience was outstanding.....</p>
                </div>
                <div class="hello1" style="height: 195px; width: 200px; margin-left: 75px;">
                <img src="/static/1710431281536.jpg" height="160px" width="160px" style="border: 2px solid goldenrod; border-radius: 50%; margin-top: 15px; margin-left: 20px;">
                </div>
                <div class="hello1" style=" width: 200px; margin-left: 75px;">
                <p style="color: white; font-size:30px; font-weight: bolder; text-align: center; text-shadow: 2px 3px 2px red;">SANYA</p>
                </div>
                <div class="hello1" style="height: 80px;">
                <img src="/static/1712037709269.png" height="50px" width="300px">
                </div>
              </div>
            </div>
            <div class="review1"> 
                <div class="hello" style="margin-top: 175px;">
                    <br>
                    <div class="hello1" style="height: 80px;margin-left: 40px;">
                        <p style="font-size: 18px; color:white;font-weight: bolder;">Great customer Services,the online booking made this so easy from the start.I would recommend you to visit...</p>
                    </div>
                    <div class="hello1" style="height: 195px; width: 200px; margin-left: 75px;">
                        <img src="/static/1710431281543.jpg" height="160px" width="160px" style="border: 2px solid goldenrod; border-radius: 50%; margin-top: 15px; margin-left: 20px;">
                    </div>
                    <div class="hello1" style=" width: 200px; margin-left: 75px;">
                        <p style="color: white; font-size:30px; font-weight: bolder; text-align: center; text-shadow: 2px 3px 2px red;"> ARPIT</p>
                    </div>
                    <div class="hello1" style="height: 80px;">
                        <img src="/static/1712037709269.png" height="50px" width="300px">
                    </div>
                </div>
            </div>
            <div class="review1">
                <div class="hello">
                    <br>
                    <div class="hello1" style="height: 80px;margin-left: 40px;">
                    <p style="font-size: 18px; color: white;font-weight: bolder;"> Hi, would just like to say that I have received excellent services from this..<br> 100% happy and will visit again....</p>
                    </div>
                    <div class="hello1" style="height: 195px; width: 200px; margin-left: 75px;">
                        <img src="/static/1710431281548.jpg" height="160px" width="160px" style="border: 2px solid goldenrod; border-radius: 50%; margin-top: 15px; margin-left: 20px;">
                    </div>
                    <div class="hello1" style=" width: 200px; margin-left: 75px;">
                        <p style="color: white; font-size:30px; font-weight: bolder; text-align: center; text-shadow: 2px 3px 2px red;">RAHUL</p>
                    </div>
                    <div class="hello1" style="height: 80px;">
                        <img src="/static/1712037709269.png" height="50px" width="300px">
                    </div>
                </div>
        </div>
        </div>
    </div>
  </div>
</body>
</html>