
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/chefs.css">
    </head>
<body>
    <!-- 1st portion -->
    <div class="a">
        <div class="main">
            <video autoplay loop muted plays-inline class="back">
                <source src="/static/8811979b-97d1-4801-a9d3-ce3ce42865a0.mp4" type="video/mp4">
            </video>
            <div class="main1">
                <div class="main2" style="width: 340px;"><img src="/static/1711808621657.png" height="20px" width="20px"> <font style="font-size: 15px; font-style: italic;color: white; ">Blissful Bites,Rajpur Road<br><font style="margin-left: 26px;">Dehradun,UKD,248001</font></font></div>
                <div class="main2"> <img src="/static/1711810050678.png" height="20px" width="20px" style="margin-left: 10px;"> <font style="font-size: 15px; font-style: italic;color: white;">  Daily : 8:00 am to 12:00 pm</font></div>
                <div class="main2"><img src="/static/1711808621662.png" width="20px" height="20px" style="margin-left: 40px;"> <font style="font-size: 15px; font-style: italic;color: white; ">62848-56987  </font>
                    <img src="/static/1711810050673.png" height="20px" width="20px" style="margin-left: 20px;">
                    <img src="/static/1711808621647.png" width="20px" height="20px" style="margin-left: 20px;"> <font style="font-size: 15px; font-style: italic;color: white; "> greatfood154@gmail.com</font> 
            </div>
            </div>
            <div class="main3">
                <div class="main4" style="width: 300px;"><img src="/static/1711785805859.png" height="80px" width="80px" style="border-radius: 50%; margin-left: 40px; border: 1px solid black;"><br> <font style="margin-top: 0px;color:white;font-style: italic;"> A little bliss in every bite</font></div>
                <div class="main4" style="width: 993px;backdrop-filter: blur(70px);margin-left: 150px;">
                      <ul class="nv" >
              <li class="nav"><a class="link" href="/" > Home </a></li>
              <li class="nav"> <a class="link" href="/menu/" > Menu </a></li>
              <li class="nav"> <a class="link" href="/about/"> About Us </a></li>
              <li class="nav"> <a class="link" href="/chefs/" style="color: goldenrod; font-weight: 900;"> Our Chefs <br><div class="b"></div> </a></li>
              <li class="nav"> <a class="link" href="/contact/" style="margin-left: 10px;"> Contact </a></li>  
            </ul>
                </div>
               <div class="main4" style="width: 300px;">
                <button class="dox"><a class="dox1" href="/"> Find a Table</a></button>
            </div>
            </div>
            <div class="mode" style="display: flex;">
            <div class="first">
                <img src="/static/1712050344536.jpg" width="500px" height="480px">
            </div>
            <div class="first"> 
                <p style="color: white; font-size: 80px; text-shadow: 2px 3px 2px goldenrod; text-align: center;"> Our Team</p>
                <p style="font-size: 20px; color: goldenrod; text-align: center;">The key to running a successful kitchen is what I call the "3F's":~ Be Firm, Be Fair, Be Friendly with your staff,your guest 
                    and yourself.......</p><br>
                <p style="color: white; font-size: 20px;text-align: center;"> There are no devisions in my kitchen or my restaurant. We always
                say,"The guest is an Incarnation of God". I want people to feel that they are valued.They will be looked after as if they have gone to a 
            relative house.... </p><br>
            <p style="font-size: 20px; color: goldenrod; text-align: center;">My aim is for you to leave feeling like someone had embraced you. 
            That's how food should be. I get happiness from seeing people's eyes when they eat the food I have cooked. That feeling, when you can light up someone's soul
        with something you have prepared, that is a privilege and an honor......</p>
            </div>
            </div>
            </div>
            </div>
            <div class="item">
                <div class="chef">
                    <div class="mode" style="background-color: transparent;margin-top: 0px;margin-left: 123px;height: 800px;">
                        <div class="rose">
                    <div class="first"style="backdrop-filter: blur(5px);">
                        <div class="photo" style="margin-left: 65px; background-color: goldenrod;border: 2px solid white;">
                        <img src="/static/1712049994127.jpg" width="195px" height="195px"style="border-radius: 50%;">
                        </div>
                        <div class="photo" style="width: 300px; height: 40px;margin-left: 15px;">
                        <p style="color: goldenrod; font-weight: bolder; font-size: 30px; text-align: center;">Yashmita Khana</p>
                        </div>
                        <div class="photo" style="width: 300px; height: 40px;margin-left: 15px;">
                        <p style="font-size: 30px; color: white;text-align: center; font-weight: bolder;"> Head Chef</p>
                        </div>
                        <div class="photo"style="width: 300px; height: 40px;margin-left: 15px; display:flex;">
                            <div class="star" style="margin-left: 70px;">
                                <img src="/static/1712059751837.png" height="40px" width="40px">
                            </div>
                            <div class="star">
                                <img src="/static/1712059751832.png" height="40px" width="40px">
                            </div>
                            <div class="star">
                                <img src="/static/1712059751826.png" height="40px" width="40px">
                            </div>
                        </div>
                        <div class="photo" style="width: 300px; height: 70px; margin-left: 15px;">
                            <p style="color: white; font-size: 20px; text-align: center; font-weight: bolder;">Dedication to maintain high standards of food quality and presentation.... </p>
                        </div>
                    </div>
                    <div class="first"style="backdrop-filter: blur(5px);">
                        <div class="photo" style="margin-left: 65px; background-color: goldenrod;border: 2px solid white;">
                            <img src="/static/1712049381676.jpg" width="195px" height="195px"style="border-radius: 50%;">
                        </div>
                        <div class="photo" style="width: 300px; height: 40px;margin-left: 15px;">
                            <p style="color: goldenrod; font-weight: bolder; font-size: 30px; text-align: center;">Kaushik Sharma</p>
                        </div>
                        <div class="photo" style="width: 300px; height: 40px;margin-left: 15px;">
                        <p style="color: white; font-size: 30px;text-align: center; font-weight: bolder;">Executive Chef</p>
                        </div>
                        <div class="photo"style="width: 300px; height: 40px;margin-left: 15px; display:flex;">
                            <div class="star"style="margin-left: 70px;">
                                <img src="/static/1712059751837.png" height="40px" width="40px">
                            </div>
                            <div class="star">
                                <img src="/static/1712059751832.png" height="40px" width="40px">
                            </div>
                            <div class="star">
                                <img src="/static/1712059751826.png" height="40px" width="40px">
                            </div>
                        </div>
                        <div class="photo" style="width: 300px; height: 70px; margin-left: 15px;">
                        <p style="color: white; font-size: 20px; text-align: center; font-weight: bolder;"> Passion for food and outstanding cullinary techniques, had a experience of over 20 years.....</p>
                        </div>
                    </div>
                    <div class="first" style="backdrop-filter: blur(5px);">
                        <div class="photo" style="margin-left: 65px; background-color: goldenrod;border: 2px solid white;">
                            <img src="/static/1712049994113.jpg" width="195px" height="195px"style="border-radius: 50%;">
                        </div>
                        <div class="photo" style="width: 300px; height: 40px;margin-left: 15px;">
                            <p style="color: goldenrod; font-weight: bolder; font-size: 30px; text-align: center;"> Yash Singh</p>
                        </div>
                        <div class="photo" style="width: 300px; height: 40px;margin-left: 15px;">
                        <p style="color: white; font-size: 30px; text-align: center; font-weight: bolder;"> Deputy Chef</p>
                        </div>
                        <div class="photo"style="width: 300px; height: 40px;margin-left: 15px; display:flex;">
                            <div class="star"style="margin-left: 70px;">
                                <img src="/static/1712059751837.png" height="40px" width="40px">
                            </div>
                            <div class="star">
                                <img src="/static/1712059751832.png" height="40px" width="40px">
                            </div>
                            <div class="star">
                                <img src="/static/1712059751826.png" height="40px" width="40px">
                            </div>
                        </div>
                        <div class="photo" style="width: 300px; height: 70px; margin-left: 15px;">
                            <p style="color: white; font-size: 20px; text-align: center; font-weight: bolder;">Excellent organizational abilities, adaptability, willingness to support head chef....</p>
                        </div>
                    </div>
                    </div>
                    <div class="rose">
                        <div class="first"style="backdrop-filter: blur(5px);">
                            <div class="photo" style="margin-left: 65px; background-color: goldenrod;border: 2px solid white;">
                                <img src="/static/1712049381686.jpg" width="195px" height="195px"style="border-radius: 50%;">
                            </div>
                            <div class="photo" style="width: 300px; height: 40px;margin-left: 15px;">
                                <p style="color: goldenrod; font-weight: bolder; font-size: 30px; text-align: center;">Kartik Kumar</p>
                            </div>
                            <div class="photo" style="width: 300px; height: 40px;margin-left: 15px;">
                            <p style="color: white; font-size: 30px;text-align: center; font-weight: bolder;"> Junior Chef</p>
                            </div>
                            <div class="photo"style="width: 300px; height: 40px;margin-left: 15px; display:flex;">
                                <div class="star"style="margin-left: 70px;">
                                    <img src="/static/1712059751837.png" height="40px" width="40px">
                                </div>
                                <div class="star">
                                    <img src="/static/1712059751832.png" height="40px" width="40px">
                                </div>
                                <div class="star">
                                    <img src="/static/1712059751826.png" height="40px" width="40px">
                                </div>
                            </div>
                            <div class="photo" style="width: 300px; height: 70px; margin-left: 15px;">
                                <p style="color: white; font-size: 20px; text-align: center; font-weight: bolder;">Strong passion for cooking, willingness to learn, teamwork,attention to details....</p>
                            </div>
                        </div>
                        <div class="first"style="backdrop-filter: blur(5px);">
                            <div class="photo" style="margin-left: 65px; background-color: goldenrod;border: 2px solid white;">
                                <img src="/static/1712049381664.jpg" width="195px" height="195px"style="border-radius: 50%;">
                            </div>
                            <div class="photo" style="width: 300px; height: 40px;margin-left: 15px;">
                                <p style="color: goldenrod; font-weight: bolder; font-size: 30px; text-align: center;">Arohi Malhotra</p>
                            </div>
                            <div class="photo" style="width: 300px; height: 40px;margin-left: 15px;">
                            <p style="color: white; font-size: 30px; text-align: center; font-weight: bolder;"> Assistant Chef</p>
                            </div>
                            <div class="photo"style="width: 300px; height: 40px;margin-left: 15px; display:flex;">
                                <div class="star"style="margin-left: 70px;">
                                    <img src="/static/1712059751837.png" height="40px" width="40px">
                                </div>
                                <div class="star">
                                    <img src="/static/1712059751832.png" height="40px" width="40px">
                                </div>
                                <div class="star">
                                    <img src="/static/1712059751826.png" height="40px" width="40px">
                                </div>
                            </div>
                            <div class="photo" style="width: 300px; height: 70px; margin-left: 15px;">
                                <p style="color: white; font-size: 20px; text-align: center; font-weight: bolder;">Proactive attitude, willingness to learn,good communication skills, very good cullinary skils....</p>
                            </div>
                        </div>
                        <div class="first"style="backdrop-filter: blur(5px);">
                            <div class="photo" style="margin-left: 65px; background-color: goldenrod;border: 2px solid white;">
                                <img src="/static/1712049381670.jpg" width="195px" height="195px" style="border-radius: 50%;">
                            </div>
                            <div class="photo" style="width: 300px; height: 40px;margin-left: 15px;">
                                <p style="color: goldenrod; font-weight: bolder; font-size: 30px; text-align: center;">Aniket Mehra</p>
                            </div>
                            <div class="photo" style="width: 300px; height: 40px;margin-left: 15px;">
                                <p style="color: white; font-size: 30px; text-align: center; font-weight: bolder;"> Assistant Chef</p>
                            </div>
                            <div class="photo"style="width: 300px; height: 40px; display:flex;margin-left: 15px;">
                            <div class="star"style="margin-left: 70px;">
                                <img src="/static/1712059751837.png" height="40px" width="40px">
                            </div>
                            <div class="star">
                                <img src="/static/1712059751832.png" height="40px" width="40px">
                            </div>
                            <div class="star">
                                <img src="/static/1712059751826.png" height="40px" width="40px">
                            </div>
                            </div>
                            <div class="photo" style="width: 300px; height: 70px; margin-left: 15px;">
                                <p style="color: white; font-size: 20px; text-align: center; font-weight: bolder;">Proactive attitude, willingness to learn,good communication skills, very good cullinary skils....</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
</body>
</html>