<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/contact.css">
</head>
<body>
    <div class="main">
        <div class="main1">
                   <div class="overlay">
                    <div class="main2">
                    <div class="main4" style="width: 300px;"><img src="/static/1711785805859.png" height="80px" width="80px" style="border-radius: 50%; margin-left: 40px; border: 1px solid black;"><br> <font style="margin-top: 0px;color:white;font-style: italic;"> A little bliss in every bite</font></div>
                    <div class="main4" style="width: 550px;backdrop-filter: blur(70px);margin-left: 30px;">
                          <ul class="nv" >
                  <li class="nav"><a class="link" href="/" > Home </a></li>
                  <li class="nav"> <a class="link" href="/menu/" > Menu </a></li>
                  <li class="nav"> <a class="link" href="/about/"> About Us </a></li>
                  <li class="nav"> <a class="link" href="/chefs/"> Our Chefs  </a></li>
                  <li class="nav"> <a class="link" href="/contact/" style="color: goldenrod; font-weight: 900;"> Contact<br><div class="b"></div> </a></li>  
                </ul>
                    </div>
                    <div class="main4" style="width: 300px; margin-left: 80px;">
                        <button class="dox" > <a class="dox1" href="/"> Find a Table</a></button>
                    </div>
                    </div><br> <br><br><br>
                    <div class="contact" style="margin-left: 300px;">
                    <p style="font-style: italic; font-size: 80px; color: white; text-shadow: 2px 3px 2px goldenrod;font-weight: bolder; text-align: center;"> Contact Us</p>
                    </div>
                    <div class="mode">
                        <div class="mode1">
                            <p style="color: goldenrod;font-size: 40px; margin-left: 40px;margin-top: 30px;"> Address :~</p>
                            <p style="color: white; font-size: 30px;margin-left:60px;">Rajpur Road, Dehradun, Uttrakhand {248001}</p><br>
                            <p style="color: goldenrod; font-size: 40px; margin-left: 40px;">Phone Number :~</p>
                            <p style="color: white; font-size: 30px;margin-left:80px;">+91 6284856987</p><br>
                            <p style="color: goldenrod; font-size: 40px; margin-left: 40px;">E-mail Address :~</p>
                            <p style="color: white; font-size: 30px;margin-left:40px;">greatfood234@gmail.com</p><br>
                            <p style="color: goldenrod; font-size: 40px; margin-left: 40px;">Follow Us :~ </p><br>
                            <div class="contact" style="height: 93px; width: 500px; display: flex;">
                                <div class="mode2" style="margin-left: 80px;">
                                    <img src="/static/1712071708223.png" height="50px" width="50px" style="border-radius: 50%;">
                                </div>
                                <div class="mode2">
                                    <img src="/static/1712059751837.png" height="35px" width="35px" style="border-radius: 50%;">
                                </div>
                                <div class="mode2">
                                    <img src="/static/1712059751832.png" height="50px" width="50px" style="border-radius: 50%;">
                                </div>
                            </div>
                        </div>
                        <div class="mode1">
                           <img src="/static/1712072338228.jpg" height="300px" width="300px" style="margin-left: 50px; border-radius: 30px; margin-top: 100px;">
                        </div>
                    </div>
    </div>
        </div>
                </div>
</body>
</html>