<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="front.css">
</head>
<body>
    <div class="main">
        <div class="main1">
                   <div class="overlay">
                    <img src="C:\Users\soura\OneDrive\Documents\OneNote Notebooks\1711785805859.png" height="100px" width="100px" style="border-radius: 50%;margin-left: 430px; margin-top: 80px;">
                    <p style="color: white; font-size: 80px; text-shadow: 2px 3px 2px goldenrod;font-style: italic; margin-left: 80px;"> Blissful Bites Welcomes you</p>
                    <p style="font-size: 30px; color: white;margin-left: 340px;font-weight: bolder;">A little bliss in every bite</p><br> <br>
                    <button class="start"><a class="start1" href="index.html">Get Started</a></button>
         </div>
             </div>
                 </div>
</body>
</html>