<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
  </head>
<body>
    <div class="main">
       <div class="main1">
        <div class="overlay">
          
    <!-- logo, nav -->
    <div class="contain1">
        <div class="obj1" style="width:200px;"><img src="1711785805859.png" height="80px" width="80px" style="border-radius: 50%; margin-left: 40px; border: 1px solid black;"><br> <font style="margin-top: 0px;color:white;font-style: italic;"> A little bliss in every bite</font></div>
        <div class="obj1" style="width: 600px;margin-left: 100px;backdrop-filter: blur(100px);">
            <ul class="menu" >
              <li class="nav"><a class="link" href="index.html" style="color: goldenrod; font-weight: 900;"> Home <br><div class="a"></div></a></li>
              <li class="nav"> <a class="link" href="menu.html" style="margin-left: 12px;"> Menu </a></li>
              <li class="nav"> <a class="link" href="about.html"> About Us </a></li>
              <li class="nav"> <a class="link" href="chefs.html"> Our Chefs </a></li>
              <li class="nav"> <a class="link" href="contact.html"> Contact </a></li>  
            </ul>
        </div>
        <div class="obj1" style="width: 450px;">
            <button> <a  class="dox" href="#"> Find a table</a></button>
        </div>
    </div>