<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/index.css">
  </head>
<body>
    <div class="main">
       <div class="main1">
        <div class="overlay">
          
    <!-- logo, nav -->
    <div class="contain1">
        <div class="obj1" style="width:200px;"><img src="/static/1711785805859.png" height="80px" width="80px" style="border-radius: 50%; margin-left: 40px; border: 1px solid black;"><br> <font style="margin-top: 0px;color:white;font-style: italic;"> A little bliss in every bite</font></div>
        <div class="obj1" style="width: 600px;margin-left: 100px;backdrop-filter: blur(100px);">
            <ul class="menu" >
              <li class="nav"><a class="link" href="/" style="color: goldenrod; font-weight: 900;"> Home <br><div class="a"></div></a></li>
              <li class="nav"> <a class="link" href="/menu/" style="margin-left: 12px;"> Menu </a></li>
              <li class="nav"> <a class="link" href="/about/"> About Us </a></li>
              <li class="nav"> <a class="link" href="/chefs/"> Our Chefs </a></li>
              <li class="nav"> <a class="link" href="/contact/"> Contact </a></li>  
            </ul>
        </div>
        <div class="obj1" style="width: 450px;">
            <button> <a  class="dox" href="/"> Find a table</a></button>
        </div>
    </div>
    <!-- end --> 
    <!-- space -->
    <div class="space" style="height: 20px;"><font style="color: white; text-transform: uppercase; letter-spacing: 4px; margin-left: 70px;">Traditional & Hygiene </font></div>
    <div class="space" style="margin-top: 0px;"> <img src="/static/1711814202764.png" height="150px" width="200px" style="margin-left: 100px;"></div>
    <!-- content -->
    <div class="content">
  <span class="text1">For the love of <br> delicious food</span>
        <span class="text2">Come with family & feel the joy of mouthwatering food</span><br><br>
        <button class="box1"> <a  class="box" href="/menu/"> View our menu </a></button>
    </div>
    <!-- end -->
        </div>
       </div>
    </div>
    <!-- 2nd part -->
    <div class="main2">
        <div class="mode">
            <div class="mode1" style="height: 20px;"><font style="text-transform: uppercase;color: white; letter-spacing: 4px;margin-left: 60px;"> Flavours for royalty</font></div>
            <div class="mode1" style="margin-top: 0px;"> <img src="/static/1711814202764.png" height="150px" width="200px" style="margin-left: 100px;"></div>
            <div class="mode2"><font style="color: white; font-size: 60px; font-weight: 0; margin-left: 90px;">We Offer Top Notch</font></div>
            <div class="mode2" style="margin-top: 0px;width: 500px;margin-left: 350px; height: 100px;"> <font style="font-size:20px; color: white; margin-left: 150px; letter-spacing: 4px;">.....................</font><br><font style="color: white; font-size: 20px;"> Savor the exquisite flavors of our top-notch cuisine, where every bite is a journey of culinary excellence. Elevate your dining experience with our unparalleled service and attention</font><br><font style="font-size:20px; color: white; margin-left: 150px; letter-spacing: 4px;">.....................</font></div>
            <div class="food">
                <div class="food1" style="margin-left: 0px;">
                <img src=" /static/1711819164269.png" height="40px" width="100px" style="margin-left: 94px;">
                <img src=" /static/1711817213765.jpg" height="250px" width="200px" style="margin-left: 50px;">
                <img src=" /static/1711822114999.png" height="40px" width="100px" style="margin-left: 94px;"><br>
                <font style="font-size: 30px; color: rgba(218, 165, 32, 0.925); margin-left: 70px; letter-spacing: 6px;"> Breakfast</font><br>
                <font style="color: white; font-size: 20px; margin-left: 90px;letter-spacing: 4px;"><a class="fast" href="menu.html">View Menu</a></font>
                </div>
                <div class="food1" style="margin-top:57px; margin-left: 40px;">
                    <img src=" /static/1711819164269.png" height="40px" width="100px" style="margin-left: 94px;margin-top: 20px;">
                    <img src=" /static/1711817213756.webp" height="250px" width="200px" style="margin-left: 50px;">
                    <img src=" /static/1711822114999.png" height="40px" width="100px" style="margin-left: 94px;"><br>
                    <font style="font-size: 30px; color: rgba(218, 165, 32, 0.938); margin-left: 70px; letter-spacing: 6px;"> Appetizers</font><br>
                    <font style="color: white; font-size: 20px; margin-left: 90px;letter-spacing: 4px;"><a class="fast" href="menu.html">View Menu</a></font>
                </div>
                <div class="food1"style="margin-left:40px;">
                    <img src=" /static/1711819164269.png" height="40px" width="100px" style="margin-left: 94px;">
                    <img src=" /static/1711775881442.jpg" height="250px" width="200px" style="margin-left: 50px;">
                    <img src=" /static/1711822114999.png" height="40px" width="100px" style="margin-left: 94px;"><br>
                    <font style="font-size: 30px; color: rgba(218, 165, 32, 0.995); margin-left: 92px; letter-spacing: 6px;"> Drinks</font><br>
                    <font style="color: white; font-size: 20px; margin-left: 90px;letter-spacing: 4px;"><a class="fast" href="menu.html">View Menu</a></font></div>
            </div>
        </div>
    </div>
    <!-- end -->
    <!-- 3rd part -->
    <div class="good">
    <div class="story">
        <div class="good1">
            <div class="story1">
             <p style="margin-left: 80px;font-family: italic; color: white; font-size: 60px;text-shadow: 2px 3px 8px goldenrod;">Every Flavour <br><font style="margin-left: 15px;">Tells a Story</font></p>
              <p style="color: goldenrod; font-size: 22px; margin-left: 65px;"> In the heart of bustling city, amidst the clang <br> of pots and pans and the sizzle of spices,
            there<br>stood a humble yet extraordinary kitchen, It<br>belonged to Chef Vineet Bhatia, a culinary genius with a secret unlike 
            any other- he could travel through time with the power of his recipes.<br>
                                                  <font style="margin-left: 80px;" > Chef Bhatia journey's began one ordinary afternoon, as he experimented with a pecular
           blend of ingredients in his kitchen laboratory.With a flash of light and a whiff of something familiar..</font>
              </p><br>
              <p style="color: white; font-size: 20px; margin-left: 180px;"> Book Through Call</p>
              <p style="color: goldenrod; font-size: 25px;margin-left: 167px;"> (+91) 8796525994</p><br>
              <button class="read"> <a  class="read1" href="/about/"> Read More</a></button>
            </div>
            <div class="story1">
                <img src=" /static/1711860193744.jpeg" height="400px" width="400px" style="margin-left: 100px;">
                <img src=" /static/1711863859221.jpg" height="200px" width="200px" style="margin-top: 0px;">
            </div>
        </div>
    </div>
    </div>
    <!-- end -->
    <!-- 4th part -->
    <div class="main3">
        <div class="more">
            <div class="b">
                <p style="color: goldenrod; font-size: 60px;margin-left: 140px;"> Online Reservations</p>
                <p style="color: white; font-size: 20px;margin-left: 240px;"> Booking Request (+91) 8796525994</p>
                <br>
                <form action="{% url 'book' %}" method="post">
                    {% csrf_token %}
                    <input class="font" style="width: 300px; margin-left: 70px;"  type="text" id="text"  placeholder="Your Name" name="a1">
                    <input class="font" style="width: 300px;margin-left:35px;" type="number" id="number" placeholder="Phone Number" name="a2"><br><br> <br>
                   <input class="font" style="margin-left: 50px;"  type="text" id="text" placeholder="Total Member" name="a3">
                   <input class="font"  style="margin-left: 40px;" type="date" id="date" name="a4">
                   <input class="font"  style="margin-left: 40px;" type="time" id="time" name="a5"><br><br> <br>
                   <textarea placeholder="Message"  rows="10" cols="22" class="font"  style="margin-left: 140px; width: 500px; font-size: 25px;height: 100px;" name="a6"></textarea><br><br><br>
                   <button class="font1" type="submit"> <a class="font2" href="#"> Book a Table</a></button>
                </form>
            </div>
        </div>
    </div>
    <!-- end -->
</body>
</html>