<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/menu.css">
</head>
<body>
    <div class="main">
     <div class="main1">
                <div class="overlay">
                <div class="navbar">
                    <div class="logo">
                        <div class="logo1" style="width: 300px;"><img src=" /static/1711808621657.png" height="20px" width="20px"> <font style="font-size: 15px; font-style: italic;color: white; ">Blissful Bites,Rajpur Road<br><font style="margin-left: 26px;">Dehradun,UKD,248001</font></font></div>
                        <div class="logo1"><img src=" /static/1711810050678.png" height="20px" width="20px" style="margin-left: 10px;"> <font style="font-size: 15px; font-style: italic;color: white;">  Daily : 8:00 am to 12:00 pm</font></div>
                        <div class="logo1"><img src=" /static/1711808621662.png" width="20px" height="20px" style="margin-left: 60px;"> <font style="font-size: 15px; font-style: italic;color: white; ">62848-56987 </font>
                            <img src=" /static/1711810050673.png" height="20px" width="20px" style="margin-left: 30px;">
                            <img src=" /static/1711808621647.png" width="20px" height="20px" style="margin-left: 40px;"> <font style="font-size: 15px; font-style: italic;color: white; "> greatfood154@gmail.com</font>
                        </div>
                    </div>
                    <div class="nav">
                        <div class="nav1" style="width:200px;"><img src=" /static/1711785805859.png" height="70px" width="70px" style="border-radius: 50%; margin-left: 40px; border: 1px solid black;"><br> <font style="margin-top: 0px;color:white;font-style: italic;"> A little bliss in every bite</font></div>
                        <div class="nav1" style="width: 650px;margin-left: 100px;">
                            <ul class="menu2" >
                                <li class="nav2"><a class="link" href="/" > Home</a></li>
                                <li class="nav2"> <a class="link" href="/menu/" style="color: goldenrod;font-weight:900;"> Menu <br><div class="a"></div></a></li>
                                <li class="nav2"> <a class="link" href="/about/" style="margin-left: 5px;"> About Us </a></li>
                                <li class="nav2"> <a class="link" href="/chefs/"> Our Chefs </a></li>
                                <li class="nav2"> <a class="link" href="/contact/"> Contact </a></li>  
                              </ul>
                        </div>
                        <div class="nav1"style="width: 450px;"> 
                            <button class="dox1"> <a  class="dox" href="/"> Find a table</a></button>
                        </div>
                    </div>
                </div>
                <div class="menu">
                    <p style="margin-left: 80px;font-family: italic; color: white; font-size: 60px;text-shadow: 2px 3px 8px goldenrod;margin-top: 20px; margin-left: 220px; text-decoration: underline goldenrod;"> Breakfast</p>
                <div class="item" style="margin-top: 30px;">
                    <div class="item1" style="width: 100px;">
                    <img src=" /static/1711948952355.png" height="60px" width="60px"></div>
                    <div class="item1" style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;"> Raisin Blueberry Porridge </p></div>
                    <div class="item1"> <p style="font-size: 30px; color: white;margin-top: 15px;"> Rs. 479</p></div>
                </div>
                <div class="item">
                    <div class="item1"style="width: 100px;">
                    <img src=" /static/1711949694943.png" height="60px" width="60px"></div>
                    <div class="item1" style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Toasted bread with fried egg</p></div>
                    <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs. 250</p></div>
                </div>
                <div class="item">
                    <div class="item1"style="width: 100px;">
                    <img src=" /static/1711949694955.png" height="60px" width="60px"></div>
                    <div class="item1" style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Banana berry toast</p></div>
                    <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs. 590</p></div>
                </div>
                <div class="item">
                    <div class="item1"style="width: 100px;">
                    <img src=" /static/1711950501197.png" height="60px" width="60px"></div>
                    <div class="item1" style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Millet Uttapam</p></div>
                    <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs.400</p></div>
                </div>
                <div class="item">
                    <div class="item1"style="width: 100px;">
                    <img src=" /static/1711950501189.png" height="60px" width="60px"></div>
                    <div class="item1" style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Aloo Paratha</p></div>
                    <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs. 378</p></div>
                </div>
                <div class="item">
                    <div class="item1"style="width: 100px;">
                    <img src=" /static/1711950501167.png" height="60px" width="60px"></div>
                    <div class="item1" style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Rava Appam </p></div>
                    <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs.520</p></div>
                </div>
                <div class="item">
                    <div class="item1"style="width: 100px;">
                    <img src=" /static/1711950501180.png" height="60px" width="60px"></div>
                    <div class="item1" style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Rava upma</p></div>
                    <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs.290</p></div>
                </div>
                <div class="item">
                    <div class="item1"style="width: 100px;">
                    <img src=" /static/1711950789595.png" height="60px" width="60px"></div>
                    <div class="item1" style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;"> Chole Bhature</p></div>
                    <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs.470</p></div>
                </div>
               
                </div>
            </div>
        </div>
    </div>
    <!-- 2nd part -->
    <div class="main2">
        <div class="main3">
            <div class="overlay1">
                <div class="menu1">
                    <p style="margin-left: 80px;font-family: italic; color: white; font-size: 60px;text-shadow: 2px 3px 8px goldenrod;margin-top: 20px; margin-left: 220px; text-decoration: underline goldenrod;"> Appetizers</p>
                    <div class="item" style="margin-top: 30px;">
                    <div class="item1" style="width: 100px;">
                    <img src=" /static/1711973358907.png" height="60px" width="60px">
                    </div>
                    <div class="item1"style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Paneer Tikka</p></div>
                    <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs.540</p></div>
                    </div>
                    <div class="item">
                        <div class="item1"style="width: 100px;">
                        <img src=" /static/1711973542565.png" height="60px" width="60px">
                        </div>
                        <div class="item1"style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Dahi Vada</p></div>
                        <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs.490</p></div>
                    </div>
                    <div class="item">
                        <div class="item1"style="width: 100px;">
                            <img src=" /static/1711971159558.png" height="60px" width="60px">
                        </div>
                        <div class="item1"style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Nachos</p></div>
                        <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs.360</p></div>
                    </div>
                    <div class="item">
                        <div class="item1"style="width: 100px;">
                            <img src=" /static/1711973358899.png" height="60px" width="60px">
                        </div>
                        <div class="item1"style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Samosa</p></div>
                        <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs.240</p></div>
                    </div>
                    <div class="item">
                        <div class="item1"style="width: 100px;">
                            <img src=" /static/1711971159552.png" height="60px" width="60px">
                        </div>
                        <div class="item1"style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Mozzarella Sticks</p></div>
                        <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs.590</p></div>
                    </div>
                    <div class="item">
                        <div class="item1"style="width: 100px;">
                            <img src=" /static/1711973358892.png" height="60px" width="60px">
                        </div>
                        <div class="item1"style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Khaman Dhokla</p></div>
                        <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs.480</p></div>
                    </div>
                    <div class="item">
                        <div class="item1"style="width: 100px;">
                            <img src=" /static/1711973358887.png" height="60px" width="60px">
                        </div>
                        <div class="item1"style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Sambhar Vada</p></div>
                        <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs.380</p></div>
                    </div>
                    <div class="item">
                        <div class="item1"style="width: 100px;">
                            <img src=" /static/1711971159570.png" height="60px" width="60px">
                        </div>
                        <div class="item1"style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Zucchini {Summer Squash}</p></div>
                        <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs.520</p></div>
                    </div>
                    <div class="item">
                        <div class="item1"style="width: 100px;">
                            <img src=" /static/1711971159524.png" height="60px" width="60px">
                        </div>
                        <div class="item1"style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Fish Seekh Kebab</p></div>
                        <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs.630</p></div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- 3rd part -->
    <div class="main4">
        <div class="main5">
            <div class="overlay2">
                <div class="menu1">
                    <p style="font-family: italic; color: white; font-size: 60px;text-shadow: 2px 3px 8px goldenrod;margin-top: 20px; margin-left: 270px; text-decoration: underline goldenrod;"> Drinks</p>
                    <div class="item" style="margin-top: 30px;">
                        <div class="item1"style="width: 100px;">
                        <img src=" /static/1711975721490.png" height="60px" width="60px">
                        </div>
                        <div class="item1"style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Fruit Cocktail</p></div>
                        <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs.240</p></div></div>
                    <div class="item">
                        <div class="item1"style="width: 100px;">
                            <img src=" /static/1711975721481.png" height="60px" width="60px">
                        </div>
                        <div class="item1"style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Shake</p></div>
                        <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs.280</p></div>
                    </div>
                    <div class="item">
                        <div class="item1"style="width: 100px;">
                            <img src=" /static/1711975721460.png" height="60px" width="60px">
                        </div>
                        <div class="item1"style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Aamras</p></div>
                        <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs.350</p></div>
                    </div>
                    <div class="item">
                        <div class="item1"style="width: 100px;">
                            <img src=" /static/1711975721471.png" height="60px" width="60px">
                        </div>
                        <div class="item1"style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Rose Lassi</p></div>
                        <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs.300</p></div>
                    </div>
                    <div class="item">
                        <div class="item1"style="width: 100px;">
                            <img src=" /static/1711975721442.png" height="60px" width="60px">
                        </div>
                        <div class="item1"style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Mocktail</p></div>
                        <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs. 190</p></div>
                    </div>
                    <div class="item">
                        <div class="item1"style="width: 100px;">
                            <img src=" /static/1711975721451.png" height="60px" width="60px">
                        </div>
                        <div class="item1"style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;"> Latte</p></div>
                        <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs.220</p></div>
                    </div>
                    <div class="item">
                        <div class="item1"style="width: 100px;">
                            <img src=" /static/1711975721423.png" height="60px" width="60px">
                        </div>
                        <div class="item1"style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Cold Coffee with Ice-cream</p></div>
                        <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs.290</p></div>
                    </div>
                    <div class="item">
                        <div class="item1"style="width: 100px;">
                            <img src=" /static/1711975721411.png" height="60px" width="60px">
                        </div>
                        <div class="item1"style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Masala Chai</p></div>
                        <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs.250</p></div>
                    </div>
                    <div class="item">
                        <div class="item1"style="width: 100px;">
                            <img src=" /static/1711975721431.png" height="60px" width="60px">
                        </div>
                        <div class="item1"style="width:1200px;"><p style="font-size: 30px; color: white; margin-top: 15px;">Mojito</p></div>
                        <div class="item1"><p style="font-size: 30px; color: white; margin-top: 15px;">Rs.230</p></div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</body>
</html>
 
 
  
 
  
